# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Streamlit
.streamlit/

# Secret files
.env

# Data and Models (optional - usually kept in Git for this specific small project)
# data/
# model/
